Q1. Create one variable containing following type of data:
(i) string
(ii) list
(iii) float
(iv) tuple

In [1]:
#string variable
str='Sachit bhor'
print(str)
print(type(str))

Sachit bhor
<class 'str'>

In [3]:
#List variable
l=[1,2,3,4,5]
print(l)
print(type(l))

[1, 2, 3, 4, 5]
<class 'list'>

In [4]:
#float Variable
f=2.697
print(f)
print(type(f))

2.697
<class 'float'>

In [6]:
#tuple variable
t=(6,7,5,8,9)
print(t)
print(type(t))

(6, 7, 5, 8, 9)
<class 'tuple'>

Q2. Given are some following variables containing data:
(i) var1 = ‘ ‘
(ii) var2 = ‘[ DS , ML , Python]’
(iii) var3 = [ ‘DS’ , ’ML’ , ‘Python’ ]
(iv) var4 = 1.
What will be the data type of the above given variable.

In [7]:
var1 = ' '
print(type(var1))
# string varible

<class 'str'>

In [8]:
var2 = '[ DS , ML , Python]'
print(type(var2))
# String Variable

<class 'str'>

In [10]:
var3 = [ 'DS' , 'ML' , 'Python' ]
print(type(var3))
#list variable

<class 'list'>

In [11]:
var4 = 1
print(type(var4))
#int variable

<class 'int'>

Q3. Explain the use of the following operators using an example:
(i) /
(ii) %
(iii) //
(iv) **

In [ ]:

(i) `/` (Division Operator):
The `/` operator is used for division in Python.

In this example, `10` is divided by `3`, and the result is a floating-point number.

(ii) `%` (Modulus Operator):
The `%` operator returns the remainder when one number is divided by another.

In this example, when `10` is divided by `3`, the remainder is `1`.

(iii) `//` (Floor Division Operator):
The `//` operator performs floor division, which returns the largest integer that is less than or equal to the result of the division.

In this example, `10` divided by `3` using floor division results in `3`, which is the largest integer less than or equal to the actual division result `3.333...`.

(iv) `**` (Exponentiation Operator):
The `**` operator is used to raise a number to a certain power.


In this example, `2` raised to the power of `3` equals `8`.

In [12]:
result = 10 / 3
print(result)

3.3333333333333335

In [13]:
remainder = 10 % 3
print(remainder)

1

In [14]:

result = 10 // 3
print(result)

3

In [15]:
result = 2 ** 3
print(result)

8

Q4. Create a list of length 10 of your choice containing multiple types of data. Using for loop print the
element and its data type.

In [16]:
l=[1,2,3,4,5,"sachit",'e',True,3+4j,3.345,[77,88,99,66]]

In [17]:
for i in l:
    print("value =",i,"Datatype=",type(i))

value = 1 Datatype= <class 'int'>
value = 2 Datatype= <class 'int'>
value = 3 Datatype= <class 'int'>
value = 4 Datatype= <class 'int'>
value = 5 Datatype= <class 'int'>
value = sachit Datatype= <class 'str'>
value = e Datatype= <class 'str'>
value = True Datatype= <class 'bool'>
value = (3+4j) Datatype= <class 'complex'>
value = 3.345 Datatype= <class 'float'>
value = [77, 88, 99, 66] Datatype= <class 'list'>

Q5. Using a while loop, verify if the number A is purely divisible by number B and if so then how many
times it can be divisible.

In [19]:

A = int(input("Enter the number A: "))
B = int(input("Enter the number B: "))
c=A
count = 0
while A >= B and A % B == 0:
    A = A // B  
    count += 1   


if A == 1:
    print(f"{count} times, {B} divides {c} evenly.")
else:
    print(f"{B} does not purely divide {c}. The remainder is {A}.")

Enter the number A:  1000
Enter the number B:  10

3 times, 10 divides 1000 evenly.

Q6. Create a list containing 25 int type data. Using for loop and if-else condition print if the element is
divisible by 3 or not.

In [20]:
l=list(range(1,26))
for i in l:
    if i%3==0:
        print(i,' is purely Divisible by 3')
    else:
        print(i,' is not purely Divisible by 3')

1  is not purely Divisible by 3
2  is not purely Divisible by 3
3  is purely Divisible by 3
4  is not purely Divisible by 3
5  is not purely Divisible by 3
6  is purely Divisible by 3
7  is not purely Divisible by 3
8  is not purely Divisible by 3
9  is purely Divisible by 3
10  is not purely Divisible by 3
11  is not purely Divisible by 3
12  is purely Divisible by 3
13  is not purely Divisible by 3
14  is not purely Divisible by 3
15  is purely Divisible by 3
16  is not purely Divisible by 3
17  is not purely Divisible by 3
18  is purely Divisible by 3
19  is not purely Divisible by 3
20  is not purely Divisible by 3
21  is purely Divisible by 3
22  is not purely Divisible by 3
23  is not purely Divisible by 3
24  is purely Divisible by 3
25  is not purely Divisible by 3

Q7. What do you understand about mutable and immutable data types? Give examples for both showing
this property.

In [ ]:

1. Mutable Data Types:
Mutable data types are those whose values can be altered or modified after they are created. 
When you modify a mutable object, you are actually changing its internal state. Common mutable data types 
include lists, dictionaries, and sets in Python.

In [21]:
my_list = [1, 2, 3]
my_list.append(4)  # Modifies the list by adding an element.
print(my_list)  # Output: [1, 2, 3, 4]

my_list[0] = 10  # Modifies the first element of the list.
print(my_list)  # Output: [10, 2, 3, 4]

[1, 2, 3, 4]
[10, 2, 3, 4]

In [ ]:
2. Immutable Data Types:
Immutable data types are those whose values cannot be altered once they are created. 
If you want to change an immutable object, you must create a new object with the desired value. 
Common immutable data types include strings, tuples, and numbers in Python.

In [ ]:
my_string = "Hello"
my_string += " World"  # Creates a new string with the combined value.
print(my_string)  # Output: "Hello World"

my_string[0] = 'J'  # This will raise a TypeError because strings are immutable.
```